/* body */

body {
    margin: 0;
    font-family: 'Quicksand', Arial, sans-serif;
    color: #500d06;
}

div {
    margin: 0;
    padding: 0;
}

img {
    vertical-align: top;
}

.subsec {
   width: 44%;
}

h2 {
   font-size: 32px;
   margin: 1.5rem;
}

h3 {
   margin: 1rem;
}

p {
    margin: 0.5rem;
}

     /* fonts */

.quicksand-normal {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
      
.quicksand-bold {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
      
.quicksand-light {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

/* Navbar */
nav {
    display: flex;
    position: fixed;
    background-color: white;
    width: 100vw;
    justify-content: space-between;
    z-index: 2;
}

#logo_div {
    width: 115px;
}

nav img {
    width: 115px;
    height: 115px;
    padding-left: 15px;
}

nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav li {
    list-style-type: none;
    text-align: center;
    height: fit-content;
    padding: 70px 50px 0 0;
    font-size: 18px;
}

/* Landing Page */

#landing-page_div {
    padding-top: 100px;
}

     /* Carousel */

#carousel {
    position: relative;
    margin: 0 auto 2.2rem;
    width: fit-content;
}

#carousel-track-div {
   position: relative;
   overflow: hidden;
   margin: 0 auto;
   width: 98vw;
   height: 75vh;
}

#carousel-track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    width: 100%;
}

.carousel-slide {
    position: absolute;
    margin: 0;
    height: 100%;
    width: 100%;
}

.carousel-slide img {
    width: 100%;
    margin: 0;
    object-fit: cover;
    height: 100%;
}

.carousel-button {
    position: absolute;
    cursor: pointer;
    top: 50%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #500d06;
    font-size: 32px;
    font-weight: 700;
    color:#500d06;
}

.carousel-button:hover {
   background-color: rgba(255, 255, 255, 0.6);
}

#carousel-button-right {
    right: 30px;
}

#carousel-button-left {
    left: 30px;
}

/* Info Div */


#info_div {
    display: flex;
    justify-content: space-around;
    margin: 16px 0;
}

#subsec_info {
    text-align: center;
    border: 2px solid #500d06;
}

     /* text side */

#info_div h2 {
    width: fit-content;
    padding: 0 0 0.75rem 0;
    justify-self: center;
    border-bottom: 1px dashed #500d06;
}

#info_bottom--p {
    margin-bottom: 1.5rem;
}

#location-link {
    text-decoration:none;
    color: black;
}

#location-link:hover {
    text-decoration: underline;
}

#location-link:click {
    text-decoration: underline;
}

     /* pic side */

#info-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Menu */

.menu_div_center {
    margin: 48px 0 48px 0;
}

#menu_div_background {
  background-image: url("../Restaurant/Resources/Thaifood2.jpg");
  background-attachment: fixed;
  text-align: center;
  height: 300px;
  margin: 0;
}

#menu_div_title {
    padding: 100px 0;
    margin: 0;
}

#menu_div_title h2 {
    background-color: white;
    border: 2px solid #500d06;
    width: fit-content;
    margin: 0;
    padding: 12px;
    justify-self: center;
}

.menu_description-text {
    display: block;
    text-align: center;
}

.menu_buttons {
    border: 2px solid #500d06;
    width: fit-content;
    padding: 12px;
    margin: 24px;
    cursor: pointer;
}


#menu_buttons_div {
    display: flex;
    justify-content: center;
}

#menu_div_center {
    margin: 16px;
    width: 80vw;
}

.menu {
    border: 2px solid #500d06;
    width: 640px;
    margin: 48px auto;
}

.menu h3 {
    border-bottom: 1px dashed #500d06;
    padding: 0 0 0.75rem 0;
    margin: 24px;
    font-size: 32px;
}

#menu_lunch, #menu_dinner, #menu_drinks {
    display: none;
}

.menu_rows {
    display: flex;
    margin-bottom: 24px;
}

.menu_row_2 {
    margin-left: 10%;
}

.menu p {
    margin: 4px 8px 2px 36px;
}

.menu-item {
    display: flex;
    margin: 8px 0px 0px 0px;
}

.menu_thai {
    font-size: 20px;
}

.menu_price {
    align-self: flex-end;
}

/* Our Story */

#story_div_background {
    background-image: url("../Restaurant/Resources/Saraburi.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    text-align: center;
    height: 300px;
    margin: 0;
}

#story_div_title {
    padding: 100px 0;
    margin: 0;
}

#story_div_title h2 {
    background-color: white;
    border: 2px solid #500d06;
    width: fit-content;
    margin: 0;
    padding: 12px;
    justify-self: center;
}

#picdiv {
    margin-bottom: 30px;
}

.story_text {
    margin: 48px;
    max-width: 640px;
    justify-self: center;
}

/* Pictures */

.pic_grid {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: repeat(2, 2fr);
    width: 98%;
    height: 80vh;
    column-gap: 0.5%;
    row-gap: 2%;
    justify-content: center;
}

.pic_grid img {
    object-fit: cover;
   width: 92%;
   height: 92%;
   padding: 2%;
   border: 2px solid #500d06;
   transition-duration: 1s;
}

.img_box {
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 8px;
}